.formula-name {
  display: block;
}

.cursor-pointer {
  cursor: pointer;
}

.upward-arrow {
  padding-top: 3%;
  font-size: xx-large;
}

.copy-icon {
  font-size: medium;
}

/*.result {*/
  /*display: inline-flex;*/
/*}*/

.copy-to-clipboard {
  color: blue;
}
