<div>

  <!--First, if the child formula has a parent-->
  <mat-icon *ngIf="formula.parentId"
            (click)="navigateToParentFormula()"
            class="cursor-pointer upward-arrow">
    arrow_upward
  </mat-icon>

  <br>

  <b class="formula-name">{{ formula.name }} ( {{ formula.abbreviation }} )</b>

  <br>

  <p [hidden]="hideResult">Result:  {{ result }}</p>
  <p [hidden]="!errorMessage">{{ errorMessage }}</p>

  <table>
    <tr *ngFor="let childFormula of formula.childFormulas">
      <td>
        {{ childFormula.name }}
      </td>
      <td>
        <input id="{{ childFormula.id }}"
               type="number"
               [(ngModel)]="childFormula.value"
        />
      </td>
      <td>
        <mat-icon *ngIf="childFormula.hasChildren">
          arrow_downward
        </mat-icon>
      </td>
    </tr>
  </table>

  <button class="btn btn-primary" (click)="calculate()">Calculate</button>

</div>
