<div>

  <br>

  <button routerLink="/"
          class="btn btn-success"
          [appHideFormulaCards]="false">
    Main Page
  </button>

  <br>

  <!--First, if the child formula has a parent-->
  <mat-icon *ngIf="formula.parentId"
            (click)="navigateToParentFormula(formula.parentId)"
            [appUpdateBreadcrumbs]=formula.parentId
            class="cursor-pointer upward-arrow">
    arrow_upward
  </mat-icon>

  <br>

  <b class="formula-name">{{ formula.name }} ( {{ formula.abbreviation }} )</b>

  <br>

  <div>
    <p [hidden]="hideResult"
       id="result">
      Result:  {{ result }}

      <mat-icon class="copy-icon cursor-pointer"
                (click)="copyResultToClipboard()">
        file_copy
      </mat-icon>
    </p>

    <p [hidden]="hideCopyMessage"
       class="copy-to-clipboard">
      Copied to Clipboard!
    </p>
  </div>

  <p [hidden]="!errorMessage">{{ errorMessage }}</p>

  <table>
    <tr *ngFor="let childFormula of formula.childFormulas">
      <td>
        {{ childFormula.name }}
      </td>
      <td>
        <input id="{{ childFormula.id }}"
               type="number"
               [(ngModel)]="childFormula.value"
        />
      </td>
      <td>
        <mat-icon *ngIf="childFormula.hasChildren"
                  (click)="navigateToChildFormula(childFormula.id)"
                  [appUpdateBreadcrumbs]=childFormula.id
                  class="cursor-pointer">
          arrow_downward
        </mat-icon>
      </td>
    </tr>
  </table>

  <!--Button if the formula has a parent id.  Breadcrumbs will be updated when button is clicked.-->
  <button *ngIf="formula.parentId"
          class="btn btn-primary"
          (click)="calculate(); navigateToParentFormula(formula.parentId)"
          [appUpdateBreadcrumbs]=formula.parentId>
    Calculate
  </button>

  <!--Button if the formula does not have a parent id.  Breadcrumbs will NOT be updated when button is clicked.-->
  <button *ngIf="!formula.parentId"
          class="btn btn-primary"
          (click)="calculate(); navigateToParentFormula(formula.parentId)">
    Calculate
  </button>



</div>
