<app-nav-bar></app-nav-bar>

<app-breadcrumb></app-breadcrumb>

<div id="formula-cards" class="app-component" *ngIf="formulaService.formulas">
  <ng-container *ngFor="let formula of formulaService.formulas">
    <mat-card *ngIf="formula.hasChildren">
      <mat-card-title>{{ formula.name }}</mat-card-title>
      <mat-card-content>A description of the formula</mat-card-content>
      <mat-card-actions>
        <button class="btn btn-primary"
                [routerLink]="['/formulas', formula.id]"
                [queryParams]="{formula:formula | json}"
                [skipLocationChange]="true"
                [appHideFormulaCards]="true">
          View
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>

<router-outlet></router-outlet>

