<nav aria-label="breadcrumb" *ngIf="refAppComponent.breadcrumbService.breadcrumbs.length > 0">
  <ol class="breadcrumb">

    <li class="breadcrumb-item cursor-pointer" routerLink="" [appHideFormulaCards]="false" [appUpdateBreadcrumbs]="">
      Home
    </li>

    <li *ngFor="let crumb of refAppComponent.breadcrumbService.breadcrumbs; let i = index;"
        class="breadcrumb-item cursor-pointer"
        [ngClass]="{'active': i === refAppComponent.breadcrumbService.breadcrumbs.length - 1}"
        (click)="navigateToParentFormula(crumb.formula.parentId)"
        [appUpdateBreadcrumbs]=crumb.id>
      {{ crumb.formula.name }}
    </li>

  </ol>
</nav>
