<!--<nav class="navbar navbar-default bg-danger">-->
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="navbar-nav li-no-bullets">
                <li>
                    <a href="/" class="navbar-text navbar-item-padding">Home</a>
                </li>
                <li>
                    <a href="/formula-request" class="navbar-text navbar-item-padding" style="padding-left: 15px">Request a Formula</a>
                </li>
            </ul>
        </div>

        <div>
            <a *ngIf="isSignedIn" class="navbar-text" href="#">My Name Here</a>
            <a *ngIf="!isSignedIn" class="navbar-text" href="#">Sign In</a>
        </div>

        <ul class="navbar-nav li-no-bullets">
            <form class="navbar-form navbar-left" action="">
                <div>
                    <input type="text" class="form-control" placeholder="Search" (keyup.enter)="refAppComponent.getFormulasBySearch($event)">
                </div>
            </form>
        </ul>

    </div>
</nav>
