/* You can add global styles to this file, and also import other style files */
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.cursor-pointer {
  cursor: pointer;
}

div {
  text-align: center;
}

html, body {
  width: 100%;
}
table {
  margin: 0 auto;
}

input {
  margin-left: 10%;
}

td {
  padding-right: 7%;
  padding-bottom: 10%;
}
